# Output files
*.bin
*.hex

# Keil files
*.uvoptx
*.uvguix

# Project directory
/Project/*
!/Project/*.uvprojx
!/Project/RTE

# Object files
*.__i
*._ia
*.axf
*.crf
*.hex
*.htm
*.d
*.dep
*.lnp
*.o
*.sct
*.map
*.lst

# Directory
bin/*
Listings/*
Objects/*
